// -------about------

.page-template-about .about-text{
	position:absolute;
	color:#fff;
	font-size:45px;
	font-family:$font__accent;
	text-transform:uppercase;
}


.about-background-container{
	width:1280px;
	height:587px;
	
}

.about-background{

	height: 100%;
    // position: relative;
    max-width: 100vw;
	display:flex;
	justify-content:center;
	align-items:center;
	padding-bottom:3rem;
    
}



.about-content-header{
	color: #2f1339;
    font-size: 33.6px;
    font-size: 2.1rem;
    margin-bottom: 1.5rem;
	font-family:$font__accent;
	text-align:center;
}

.page-template-about .hfeed .site-content .site-main p{
	text-align: left;
    width: 740px;
    margin: 0 auto;
	line-height:1.75rem;
	margin-bottom:20px;
}