/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

// --------------My Edits------------


.site-content{
	display:flex;
}
.entry-header{
	position:relative;
	z-index:-999;
	margin-left:75px;
	width:760.59px;
}

.content-area{
	border-right: 1px solid #e1e1e1
}

.entry-title a{
	position:absolute;
	z-index:999;
	top:0;
	background-color:#248a83;
	font-size: 2.1rem;
	padding: .75rem 1.5rem;
	max-width:616px;
	
}

.entry-title a{
	color:white;
}

.entry-header img{
	width:760.59px;
}

.entry-meta{
	position:absolute;
	width:464px;
	margin-left:297px;
	bottom:7px;
	background-color:#248a83;
	color:white;
	padding: 1.00005rem 1.5rem;
	text-transform:uppercase;
}

.entry-content{
	margin-left:75px;
	width: 770px;
}

.entry-content p{
	color:#404040;
	font-family:"merriweather",serif;
	font-size:16px;
}

.entry-content h2{
	font-size:2.1rem;
	text-transform:uppercase;
}


// --------------Sidebar----------


#secondary{
	width:100%;

}

.textwidget{
	margin: 0 auto;
    width: 202px;
	font-family:"merriweather",serif;
}

.textwidget a{
	color:#248a83;
	font-family:"merriweather",serif;
	font-size:1rem;
}


.widget-text{
	font-family:"merriweather", serif;
	font-size:1rem;

}

.sidebar-day{
	font-weight:bold;
}

.widget-title{
	color:#2f1339;
	font-size:1.5rem;
	text-align:center;
	text-transform:uppercase;
}

.widget ul{
	list-style-type:none;
	font-family:"merriweather", sans-serif;

}


.widget ul a{
	color:#248a83;
	line-height:2;

}

#phone-id{
	color:#404040;
}

.widget-text-container{
	display: flex;
    align-items: center;
}