/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

// --------------My Edits------------


.blog #page .site-content{
	display:flex;
	
}

.site-content{
	padding-top:50px;
}
.entry-header{
	position:relative;
	z-index:-999;
	margin-left:75px;
	width:100%;

}


.entry-title a{
	position:absolute;
	z-index:999;
	top:0;
	background-color:$background-entry-color;
	font-size: 2.1rem;
	padding: .75rem 1.5rem;
	max-width:616px;
	
}

.entry-title a{
	color:white;
}

.entry-header img{
	width:760.59px;
}

.entry-meta{
	position:absolute;
	width:464px;
	margin-left:297px;
	bottom:6px;
	background-color:$background-entry-color;
	color:#fff;
	padding: 0.4rem;
	text-transform:uppercase;
	font-family:$font__accent;
}

.blog {
	.entry-content{
	margin-left:75px;
	width: 770px;
	}
}

.entry-content p{
	color:#404040;
	font-family:$font__main;
	font-size:16px;
}

.entry-content h2{
	font-size:2.1rem;
	text-transform:uppercase;
}
// -----HOME---------

#front-hero-image{
	background-image:url(../../images/home-hero.jpg) no-repeat top;
    background-size: cover,cover;
	height:100vh;
	width:100%;
	
}



// --------------Sidebar----------


#secondary{
	width:100%;
	border-left: 1px solid #e1e1e1;
	padding-top:50px;

}

.textwidget{
	margin: 0 auto;
    width: 202px;
	font-family:$font__main;
}

.textwidget a{
	color:#248a83;
	font-family:$font__main;
	font-size:1rem;
}


.widget-text{
	font-family:$font__main;
	font-size:1rem;

}

.sidebar-day{
	font-weight:bold;
}

.widget-title {
	color:#2f1339;
	font-size:1.5rem;
	text-align:center;
	text-transform:uppercase;
	font-family:$font__accent;
}

.widget ul{
	list-style-type:none;
	font-family:$font__main;

}


.widget ul a{
	color:#248a83;
	line-height:2;

}

#phone-id{
	color:$color__text-main;
}

.widget-text-container{
	display: flex;
    align-items: center;
}

.textwidget i{
	padding-right:6px;
}





// ------Find Us-----

.find-us-heading{
	color: #2f1339;
	font-size:2.1rem;
	font-family:$font__accent;
}

.find-us-p{
	line-height:1.75rem;
}

.required{
	color:#d99054;
}

#submit-button{
	background-color:#248a83;
	border: none;
    border-radius: 0;
	color:#fff;
	box-shadow:none;
	font-family:$font__accent;
	text-shadow:none;
	text-transform:uppercase;
	padding: .75rem 1.5rem;
	font-size:14.4px;
}



// ------Find us-----

.page-template-find-us .hfeed .site-content{
	display:flex;
}

.page-template-find-us .hfeed .site-content .post-30{
	width:840px;
}

// ------Home Blog Posts------

.archive {
	.page-title{
		text-align:center;
		font-family:$font__accent;
		font-size: 35.4px;
    	font-weight: bold;
    	text-transform: uppercase;
	}
}

.inhabitents-front-post{
	display:flex;
	justify-content:space-around;
}


.home-blog-text{
	font-size:12px;
	margin:0;
	margin-top:3px;
	margin-left:20px;
}

.home-blog-post-container{
	width:375px;
	display:inline-block;
	margin-right:0;
	border: 1px solid #e1e1e1;
	height:414px;
	
}

.home-blog-title{
	margin-top:0;
	font-size:1.8rem;
	font-family:$font__accent;
	margin-right:5px;
	margin-bottom:5px;
	margin-left:20px;
}

.home-blog-title a{
	color:#248a83;
	width: 270px;
	font-size:23px;
}
#read-entry-home{
	border: 1px solid #000;
	font-family:$font__accent;
	text-transform:uppercase;
	padding: 10px 10px;
	color:#000;
	margin-left:20px;
}

#read-entry-home {
	color:#000;
	position:relative;
    top: 20px;
    right: 3px;
}

.home-blog-post{
	width:375px;
	height:250px;
}

// -----Shop Stuff----

.shop-stuff-section{
	width:100%;
	display:flex;
	justify-content:space-around;
	padding:0 1.2rem;
}

.block-wrapper{
	width:272px;
	height:263px;
	border: 1px solid #e1e1e1;
	display: flex;
    justify-content: center;
	border-top-width: 5px;

}

.block-wrapper img{
	height:70px;
	width:70px;
	

}


// ---------------Shop----------

.shop-items-container{
	width:100%;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
	padding:0 1rem;
}

.product-container{
	display:inline-block;
	border: 1px solid #e1e1e1;
	height:288px;
	
}
	



.shop-archive-image{
	background-color: #e1e1e1;
	margin:0;

}

.shop-archive-image img{
	height: 240px;
    width: 284px;
}

.price-text{
	font-size:16px;
	color:#404040;
	font-family:$font__main;
}

.product-title{
	font-size:16px;
	color:#404040;
	font-family:$font__main;

}

.home-blog-title{
	display: flex;
    justify-content: space-between;
}


