/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

// --------------My Edits------------


.blog #page .site-content{
	display:flex;
}
.entry-header{
	position:relative;
	z-index:-999;
	margin-left:75px;
	width:100%;

}


.entry-title a{
	position:absolute;
	z-index:999;
	top:0;
	background-color:$background-entry-color;
	font-size: 2.1rem;
	padding: .75rem 1.5rem;
	max-width:616px;
	
}

.entry-title a{
	color:white;
}

.entry-header img{
	width:760.59px;
}

.entry-meta{
	position:absolute;
	width:464px;
	margin-left:297px;
	bottom:7px;
	background-color:$background-entry-color;
	color:white;
	padding: 1.00005rem 1.5rem;
	text-transform:uppercase;
}

.blog .entry-content{
	margin-left:75px;
	width: 770px;
}

.entry-content p{
	color:#404040;
	font-family:$font__main;
	font-size:16px;
}

.entry-content h2{
	font-size:2.1rem;
	text-transform:uppercase;
}
// -----HOME---------

#front-hero-image{
	background-image:url(../../images/home-hero.jpg) no-repeat top;
    background-size: cover,cover;
	height:100vh;
	width:100%;
	
}



// --------------Sidebar----------


#secondary{
	width:100%;
	border-left: 1px solid #e1e1e1;
	padding-top:50px;

}

.textwidget{
	margin: 0 auto;
    width: 202px;
	font-family:$font__main;
}

.textwidget a{
	color:#248a83;
	font-family:$font__main;
	font-size:1rem;
}


.widget-text{
	font-family:$font__main;
	font-size:1rem;

}

.sidebar-day{
	font-weight:bold;
}

.widget-title {
	color:#2f1339;
	font-size:1.5rem;
	text-align:center;
	text-transform:uppercase;
	font-family:$font__accent;
}

.widget ul{
	list-style-type:none;
	font-family:$font__main;

}


.widget ul a{
	color:#248a83;
	line-height:2;

}

#phone-id{
	color:$color__text-main;
}

.widget-text-container{
	display: flex;
    align-items: center;
}

.textwidget i{
	padding-right:6px;
}

// -------about------

.page-template-about h1{
	position:absolute;
	color:#fff;
	bottom:18rem;
	font-size:3rem;
	font-family:$font__accent;
	text-transform:uppercase;
	margin-left:37%;
}

.page-template-about header h1{
	width:140px;
}

.about-hero-image{

	background: linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100% ), url("../../images/about-hero.jpg") no-repeat center bottom;
    background-size: cover, cover;
	height:100vh;
	z-index:-999;
	position:relative;
	min-width:100vw;
}

.about-content-header{
	color: #2f1339;
    font-size: 33.6px;
    font-size: 2.1rem;
    margin-bottom: 1.5rem;
	font-family:$font__accent;
	text-align:center;
}

.page-template-about .hfeed .site-content .site-main p{
	text-align: left;
    width: 740px;
    margin: 0 auto;
	line-height:1.75rem;
	margin-bottom:20px;
}



// ------Find Us-----

.find-us-heading{
	color: #2f1339;
	font-size:2.1rem;
	font-family:$font__accent;
}

.find-us-p{
	line-height:1.75rem;
}

.required{
	color:#d99054;
}

#submit-button{
	background-color:#248a83;
	border: none;
    border-radius: 0;
	color:#fff;
	box-shadow:none;
	font-family:$font__accent;
	text-shadow:none;
	text-transform:uppercase;
	padding: .75rem 1.5rem;
	font-size:14.4px;
}

// ---------------------------------Front-Page------------------------

.front-hero-image{
	height:100vh;
	width:100vw;
	background:linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696, url("../../images/home-hero.jpg") no-repeat top bottom;
	background-size:cover,cover;
	display:flex;
	justify-content:center;
	align-items:center;
	
}

.front-logo-image{
	background-image:url("../../images/home-front-logo.svg");
	background-size:contain;
	height:275px;
	width:275px;
}

.home-content-heading{
	font-size: 38.4px;
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 3.75rem;
    text-align: center;
	font-family:$font__accent;
	color:#2f1339;
}

// --------------Front Page Adventure----------


.page-template-front-page{
	overflow-x:hidden;

}
.adventure-wrapper{
	width:100%;
	overflow-x:hidden;
	
}


.adventures-pic-container{
	width:1120px;;
	height:540px;
	margin:0 auto;
	overflow-x:hidden;
	overflow-y:hidden;
	position:relative;
}

.adventure-pic{
	display:flex;
	justify-content:center;
	align-items:center;
}

.adventure-text a{
	color:#fff;
	font-size:2.4rem;
	font-weight:400;
}

.mountain-small-pic h3 a{
	font-size:1.6rem;
}

.star-small-pic h3 a{
	font-size:1.6rem;
}


.canoe-container{
	width:50%;
	height:100%;
	position:absolute;
}
.canoe-large-pic{
	background:url("../../images/canoe-girl.jpg")no-repeat,center;
	background-size:cover;
	height: 100vh;
    width: 126%;
    transform: translatex(-163px);
	position:relative;

	
}

.beach-container{
	width:100%;
	height:100%;
	position:absolute;
	top: 0;
    left: 100%;

}


.beach-medium-pic{
	background:url("../../images/beach.jpg");
	background-size:cover;
	height: 50%;
    width: 100%;
	border-bottom: 20px solid white;

}

.mountain-container{
	width:50%;
	height:100%;
	position:absolute;
	left:100%;
	top:50%;

}

.mountain-small-pic{
	background:url("../../images/mountain.jpg");
	background-size:cover;
	width:100%;
	height:50%;
	border-right:10px solid white;

}



.star-container{
	width: 50%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 150%;

}

.star-small-pic{
	background:url("../../images/night-sky.jpg");
	background-size:cover;
	width:100%;
	height:50%;
	border-left:10px solid white;

}

// ------Find us-----

.page-template-find-us .hfeed .site-content{
	display:flex;
}

.page-template-find-us .hfeed .site-content .post-30{
	width:840px;
}

// ------Home Blog Posts------
.inhabitents-front-post{
	display:flex;
	justify-content:space-around;
}


.home-blog-text{
	font-size:12px;
	margin:0;
	margin-top:3px;
	margin-left:20px;
}

.home-blog-post-container{
	width:375px;
	display:inline-block;
	margin-right:0;
	border: 1px solid #e1e1e1;
	height:414px;
	
}

.home-blog-title{
	margin-top:0;
	font-size:1.8rem;
	font-family:$font__accent;
	margin-right:5px;
	margin-bottom:5px;
	margin-left:20px;
}

.home-blog-title a{
	color:#248a83;
}
#read-entry-home{
	border: 1px solid #000;
	font-family:$font__accent;
	text-transform:uppercase;
	padding: 10px 10px;
	color:#000;
	margin-left:20px;
}

#read-entry-home a{
	color:#000;
}
.home-blog-post{
	width:375px;
	height:250px;
}



