// ------Find Us-----

#post-30 {
  margin: 0 auto;
  .find-us-heading {
    color: #2f1339;
    font-size: 2.1rem;
    font-family: $font__accent;
  }

  .find-us-p {
    line-height: 1.75rem;
  }

  #submit-button {
    background-color: $background-entry-color;
    border: none;
    border-radius: 0;
    color: $color__background-body;
    box-shadow: none;
    font-family: $font__accent;
    text-shadow: none;
    text-transform: uppercase;
    padding: 0.75rem 1.5rem;
    font-size: 14.4px;
  }

  .hfeed .site-content .post-30 {
    width: 840px;
  }

  .entry-header {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: $font__accent;
  }

  .find-us-p {
    font-family: $font__main;
  }

  .wpcf7-form {
    input {
      background-color: $form__color;
    }
  }

  textarea {
    background-color: $form__color;
    width: 760px;
  }

  #submit-button:hover {
    background-color: $color__dark-green-hover;
  }
}
