footer{

.footer-blocks {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-image: url("../../images/dark-wood.png");
  background-size: cover;
  position: relative;
  flex-wrap:wrap;
}

.orange-footer-text{
  @include mobile{
    text-align:center;
  }
}

.white-contact-text {
  display: block;
  color: white;
  font-family: $font__main;
}

.orange-footer-text h3 {
  letter-spacing: 2px;
  padding-top: 2.5rem;
  color: $color__main-orange;
  line-height: 1.75rem;
  text-transform: uppercase;
  font-family: $font__accent;
  font-size: 19px;
}

.orange-footer-text div a, .contact a, .orange-footer-text div, .orange-footer-text   {
  color: $color__background-body;
  font-family: $font__main;
}


.date-footer {
  color: $color__background-body;
}

.date-bold {
  font-weight: bold;
}

.text-logo img {
  padding-top: 3rem;
  width: 288px;
  margin-right: 28px;
  margin-bottom:40px;
}

.icon {
  color: white;
  margin-right: 0.5rem;
}


}