// ---------------------------------Front-Page------------------------

//----------Page Aligner---------------

.page-container{
	max-width:1120px;
	margin:0 auto;

}

//------Heading and hero----------
.home header #site-navigation{
	background-color:transparent;
	border:none;
	position:absolute;
}

.home #primary-menu li a{
	color:white;
}
.front-hero-image{
	height:100vh;
	width:100vw;
	background:linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696, url("../../images/home-hero.jpg") no-repeat top bottom;
	background-size:cover,cover;
	display:flex;
	justify-content:center;
	align-items:center;
	
}

.front-logo-image{
	background-image:url("../../images/home-front-logo.svg");
	background-size:contain;
	height:275px;
	width:275px;
}

.home-content-heading{
	font-size: 38px;
    font-weight: 400;
    margin-bottom: 3rem;
    text-align: center;
	font-family:$font__accent;
	color:#2f1339;
	text-transform:uppercase;
	font-weight:400;
}



.archive {
	.page-title{
		text-align:center;
		font-family:$font__accent;
		font-size: 38.4px;
    	font-weight: bold;
    	text-transform: uppercase;
	}
}

.inhabitents-front-post{
	display:flex;
	justify-content:space-around;
}

//---------Journal Home Dynamic Entries-------------


.home-blog-text{
	font-size:12px;
	margin:0;
	margin-top:3px;
	margin-left:20px;
}

.home-blog-post img{
	width:354px;
	height:250px;
	border-bottom:5px solid #e1e1e1;
}

.home-blog-post-container{

	display:inline-block;
	margin-right:0;
	border: 1px solid #e1e1e1;
	height:414px;
	
}

.home-blog-title{
	margin-top:0;
	font-size:1.8rem;
	font-family:$font__accent;
	margin-right:5px;
	margin-bottom:5px;
	margin-left:20px;
}

.home-blog-title a{
	color:#248a83;
	width: 320px;
	font-size:23px;
	text-transform:uppercase;
		&:hover{
			color:#2f1339;
}

.home{
	.home-blog-title{
		color:#248a83;
		text-transform:uppercase;
		letter-spacing:2px;
		
		}
	}
}
#read-entry-home{
	border: 1px solid #000;
	font-family:$font__accent;
	text-transform:uppercase;
	padding: 10px 10px;
	color:#000;
	margin-left:20px;
		&:hover{
			background-color:$background-entry-color;
			color:white;
			border-color:$background-entry-color;
		}
}

#read-entry-home {
	color:#000;
	position:relative;
    top: 20px;
    right: 3px;
	font-size:14px;
	font-family:$font__accent;
}


.home-read-button{
	color:white;
	
	
}

.home-content-heading{
	margin-top:2.5rem;
}

.home{
	.home-blog-title:hover{
		color:#2f1339;
	}
}


// -----Shop Stuff Home----



.block-wrapper-container{
	display: flex;
    width: 1120px;
    margin: 0 auto;
	justify-content:space-between;
}

.block-wrapper{
	height:272px;
	width:263.19px;
	border: 1px solid #e1e1e1;
	border-top-width: 5px;
		&:hover{
			border-color:#d99054;
		}
}

.block-wrapper:hover{
	border-top-width:5px;
	

}

.shop-image{
	height:70px;
	width:70px;
	

}

.logo-container{
	display:flex;
	justify-content:center;
	margin-top:15px;
}

.logo-description{
	text-align:center;
	line-height:1.75;
	font-family:$font__main;
	margin-top: 25px;
}

.more-button-container{
	transform: translate(65px,20px);
}

.more-button:hover{
	background-color:#1B6661;
}

.more-button{
	text-transform:uppercase;
	font-family:$font__accent;
	color:white;
	background-color:$background-entry-color;
	padding:12px 24px;
	font-size:14px;
	transform: translate(65px,20px);
	&:hover{
		color:white;
	}
}


// --------------Front Page Adventure----------


.page-template-front-page{
	overflow-x:hidden;

}

// ---------Adventure Pictures--------
.adventure-wrapper{
	width:100%;
	overflow-x:hidden;
	height:100vh;
	
}


.adventures-pic-container{
	width:1120px;;
	height:540px;
	margin:0 auto;
	overflow-x:hidden;
	overflow-y:hidden;
	position:relative;
}

.adventure-pic{
	display:flex;
	justify-content:center;
	align-items:center;
}

.canoe-container{
	width:50%;
	height:100%;
	position:absolute;
    
}
.canoe-large-pic{
	background:linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100% ),url("../../images/canoe-girl.jpg")no-repeat,center;
	background-size:cover,cover;
	height: 100vh;
    width: 126%;
    transform: translatex(-163px);
	position:relative;

	
}

.beach-container{
	width:100%;
	height:100%;
	position:absolute;
	top: 0;
    left: 100%;

}


.beach-medium-pic{
	background:linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100% ), url("../../images/beach.jpg");
	background-size:cover,cover;
	height: 50%;
    width: 100%;
	border-bottom: 20px solid white;

}

.mountain-container{
	width:50%;
	height:100%;
	position:absolute;
	left:100%;
	top:50%;
	


}

.mountain-small-pic{
	background:linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100% ),url("../../images/mountain.jpg");
	background-size:cover,cover;
	width:100%;
	height:50vh;
	border-right:10px solid white;

}



.star-container{
	width: 50%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 150%;

}

.star-small-pic{
	background:linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100% ),url("../../images/night-sky.jpg");
	background-size:cover,cover;
	width:100%;
	height:50vh;
	border-left:10px solid white;

}

// ---------Adventure Text---------

.adventure-text a{
	color:#fff;
	font-size:2.3rem;
	font-weight:400;
}

.mountain-small-pic h3 a{
	font-size:1.6rem;
}

.star-small-pic h3 a{
	font-size:1.6rem;
}

.canoe-text a{
	width:500px;
    position: absolute;
    top: 30px;
	font-size:48px;
	right: 10px;
}

.beach-text{
    position:relative;
    bottom: 39px;
    left: 25px;
}

.mountain-text{
    width: 222px;
    position: relative;
    bottom: 37px;
}

.star-text{
    width: 218px;
    position: relative;
    bottom: 57px;

}

.home-read-button-container{
	width:132px;
	height:42px;
	border:1px solid white;
	display: flex;
    justify-content: center;
    align-items: center;
	position:absolute;
		&:hover{
			background-color:$background-entry-color;
			border-color:$background-entry-color;
		}
	

}

.home-read-button{
	text-transform:uppercase;
	font-family:$font__accent;
		
}

.canoe-read{
	transform: translate(-90px,-56px);

}

.beach-read{
	transform: translate(-187px, 51px);
}

.mountain-read{
	transform: translate(-41px,56px);

}

.star-read{
	transform: translate(-38px,23px);
}

.home{
	footer{
		margin-top:100px;
	}
}

.more-adventures-button{
	font-size:10rem;
	color:black;
}
