// ---------------------------------Front-Page------------------------

//----------Page Aligner---------------

.page-container{
	max-width:1120px;
	margin:0 auto;

}

//------Heading and hero----------
.home, .single-adventure{
	header {
		#site-navigation{
	background-color:transparent;
	border:none;
	position:absolute;
		}
	}	
}
.front-hero-image{
	background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../images/home-hero.jpg) no-repeat top;
    background-size: cover,cover;
	height:100vh;
	width:100%;
	
}


.home, .single-adventure{
	#primary-menu li a{
	color:white;
	}
}
.front-hero-image{
	height:100vh;
	width:100vw;
	background:linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696, url("../../images/home-hero.jpg") no-repeat top bottom;
	background-size:cover,cover;
	display:flex;
	justify-content:center;
	align-items:center;
	
}

.front-logo-image{
	background-image:url("../../images/home-front-logo.svg");
	background-size:contain;
	height:275px;
	width:275px;
}

.home-content-heading{
	font-size: 38px;
    font-weight: 400;
    margin-bottom: 3rem;
    text-align: center;
	font-family:$font__accent;
	color:#2f1339;
	text-transform:uppercase;
	font-weight:400;
}



.archive {
	.page-title{
		text-align:center;
		font-family:$font__accent;
		font-size: 38.4px;
    	font-weight: bold;
    	text-transform: uppercase;
	}
}

.inhabitents-front-post{
	display:flex;
	justify-content:space-around;
}

//---------Journal Home Dynamic Entries-------------


.home-blog-text{
	font-size:12px;
	margin:0;
	margin-top:3px;
	margin-left:20px;
}

.home-blog-post img{
	width:354px;
	height:250px;
	border-bottom:5px solid #e1e1e1;
}

.home-blog-post-container{

	display:inline-block;
	margin-right:0;
	border: 1px solid #e1e1e1;
	height:414px;
	
}

.home-blog-title{
	margin-top:0;
	font-size:1.8rem;
	font-family:$font__accent;
	margin-right:5px;
	margin-bottom:5px;
	margin-left:20px;
}

.home-blog-title a{
	color:#248a83;
	width: 320px;
	font-size:23px;
	text-transform:uppercase;
		&:hover{
			color:#2f1339;
}

.home{
	.home-blog-title{
		color:#248a83;
		text-transform:uppercase;
		letter-spacing:2px;
		
		}
	}
}
#read-entry-home{
	border: 1px solid #000;
	font-family:$font__accent;
	text-transform:uppercase;
	padding: 10px 10px;
	color:#000;
	margin-left:20px;
		&:hover{
			background-color:$background-entry-color;
			color:white;
			border-color:$background-entry-color;
		}
}

#read-entry-home {
	color:#000;
	position:relative;
    top: 20px;
    right: 3px;
	font-size:14px;
	font-family:$font__accent;
}


.home-read-button{
	color:white;
	
	
}

.home-content-heading{
	margin-top:2.5rem;
}

.home{
	.home-blog-title:hover{
		color:#2f1339;
	}
}


// -----Shop Stuff Home----



.block-wrapper-container{
	display: flex;
    width: 1120px;
    margin: 0 auto;
	justify-content:space-between;
}

.block-wrapper{
	height:272px;
	width:263.19px;
	border: 1px solid #e1e1e1;
	border-top-width: 5px;
		&:hover{
			border-color:#d99054;
		}
}

.block-wrapper:hover{
	border-top-width:5px;
	

}

.shop-image{
	height:70px;
	width:70px;
	

}

.logo-container{
	display:flex;
	justify-content:center;
	margin-top:15px;
}

.logo-description{
	text-align:center;
	line-height:1.75;
	font-family:$font__main;
	margin-top: 25px;
}

.more-button-container{
	transform: translate(65px,20px);
}

.more-button:hover{
	background-color:#1B6661;
}

.more-button{
	text-transform:uppercase;
	font-family:$font__accent;
	color:white;
	background-color:$background-entry-color;
	padding:12px 24px;
	font-size:14px;
	transform: translate(65px,20px);
	&:hover{
		color:white;
	}
}


// --------------Front Page Adventure----------



//Dynamic Adventure Images

.adventure-list{
	list-style:none;
	display:flex;
	padding:0;
	margin:0;
	max-width:1120px;
	box-sizing:border-box;

}


.home{
	overflow-x:hidden;
}

.adventure-list-item{
	width:50vw;
	
	
}

.adventure-list-item:nth-child(1) img{
	width:560px;
	height:540px;
	border:10px solid white;
	object-fit: cover;
	z-index:-1;
	background:linear-gradient(rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100%);
	background-size:cover;
	


}

.adventure-list-item:nth-child(2) img{
	width:560px;
	height:280px;
	border:10px solid white;


}

.adventure-list-item:nth-child(3) img{
	width:280px;
	height:260px;
	transform: translate(-560px,280px);
	border:10px solid white;
}

.adventure-list-item:nth-child(4) img{
	width:280px;
	height:260px;
	transform: translate(-560px,280px);
	border:10px solid white;
}


// ---------Adventure Text---------

.adventure-text-link{
	color:white;
	font-size:2.3rem;
	font-weight:400;
		&:hover{
			color:#f0e4d1;
		}
}


.adventure-list-item:nth-child(1) .adventure-list-title{
	transform: translate(20px,-550px);
    font-size: 48px;
    margin-left: 2rem;
    margin-top: 4rem;
	
}


.adventure-list-item:nth-child(2) .adventure-list-title{
    transform: translate(0px,-300px);
	font-size:2.4rem;
	width:520px;
	margin-left: 1.5rem;
    margin-top: 3.5rem;
}

.adventure-list-item:nth-child(3) .adventure-list-title{
    font-size: 1.6rem;
    left: 42rem;
    top: 120rem;
    width: 11rem;
	transform: translate(-520px,60px);
    width: 200px;
}

.adventure-list-item:nth-child(4) .adventure-list-title{
	transform:translate(-525px,60px);
	font-size: 1.6rem;
    left: 59rem;
    width: 200px;
    top: 120rem;
}

.home-read-button-container{
	font-family:$font__accent;
	text-transform:uppercase;
	font-size:14.4px;
}

.adventure-list-item:nth-child(1) .home-read-button-container{
	transform: translate(50px,-525px);

}

.adventure-list-item:nth-child(2) .home-read-button-container{
	transform: translate(30px,-270px);
}

.adventure-list-item:nth-child(3) .home-read-button-container{
    transform: translate(-525px,75px);
}


.adventure-list-item:nth-child(4) .home-read-button-container{
    transform: translate(-525px,80px);
}

.home-read-button-container{
	width:132px;
	height:42px;
	border:1px solid white;
	display: flex;
	color:white;
    justify-content: center;
    align-items: center;
	position:absolute;
		&:hover{
			background-color:$background-entry-color;
			border-color:$background-entry-color;
		}
}

