// ---------------------------------Front-Page------------------------

body.home{
  padding-top:0;
  header {
    #site-navigation {
      background-color: transparent;
      border: none;
      position: absolute;
    }
  }

  .home-blog-title {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }

  .front-hero-image {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.4) 0,
        rgba(0, 0, 0, 0.4)
      ),
      #969696 url(../../images/home-hero.jpg) no-repeat top;
    background-size: cover, cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #primary-menu li a {
    color: white;
  }

  .front-logo-image {
    background-image: url("../../images/home-front-logo.svg");
    background-size: contain;
    height: 275px;
    width: 275px;
  }

  .latest-adventures {
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 3.75rem;
    text-align: center;
    font-family: $font__accent;
    text-transform: uppercase;
    color: $color__hover;
  }

  .home-content-heading {
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 3rem;
    text-align: center;
    font-family: $font__accent;
    color: $color__hover;
    text-transform: uppercase;
    font-weight: 400;
  }

  .page-title {
    text-align: center;
    font-family: $font__accent;
    font-size: 38.4px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .inhabitents-front-post {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  //---------Journal Home Dynamic Entries-------------

  .home-blog-text {
    font-size: 12px;
    margin: 0;
    margin-top: 3px;
    margin-left: 20px;
  }

  .home-blog-post img {
    width: 100%;
    height: auto;
    border-bottom: 5px solid #e1e1e1;
  }

  .home-blog-post-container {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
  }

  .home-blog-title {
    font-size: 1.8rem;
    font-family: $font__accent;
    margin: 0 5px 25px 20px;
  }

  .home-blog-title a {
    color: #248a83;
    width: 320px;
    font-size: 23px;
    text-transform: uppercase;
    &:hover {
      color: $color__hover;
    }
  }

  .home-blog-title {
    color: $background-entry-color;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .read-entry-home {
    border: 1px solid #000;
    font-family: $font__accent;
    text-transform: uppercase;
    padding: 10px 10px;
    color: black;
    margin-left: 13px;

    &:hover {
      background-color: $background-entry-color;
      color: $color__background-body;
      border-color: $background-entry-color;
    }
  }

  .home-read-button {
    color: $color__background-body;
  }

  .home-content-heading {
    margin-top: 2.5rem;
  }

  .home {
    .home-blog-title:hover {
      color: $color__hover;
    }
  }

  // -----Shop Stuff Home----

  .block-wrapper-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
  }

  .block-wrapper {
    height: 272px;
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover {
      border-color: $color__main-orange;
    }
  }

  .more-button-container {
    margin-top: 15px;
  }

  .block-wrapper:hover {
    border-top-width: 5px;
  }

  .shop-image {
    height: 70px;
    width: 70px;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  .logo-description {
    text-align: center;
    line-height: 1.75;
    font-family: $font__main;
    margin-top: 25px;
  }

  .more-button:hover {
    background-color: $color__dark-green-hover;
  }

  .more-button {
    text-transform: uppercase;
    font-family: $font__accent;
    color: $color__background-body;
    background-color: $background-entry-color;
    padding: 12px 24px;
    font-size: 14px;
    transform: translate(65px, 20px);
    &:hover {
      color: $color__background-body;
    }
  }

  .home-read-button-container {
    width: 132px;
    height: 42px;
    border: 1px solid white;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
    &:hover {
      background-color: $background-entry-color;
      border-color: $background-entry-color;
    }
  }
}
