/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
a{
  color:#248a83
}

li{
  list-style:none;
}
body{
  padding-top:100px;
}
/* Posts and pages */

.sticky {
  display: block;
}

fieldset {
  border: none;
}

#secondary {
  display: flex;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title,
.menu-toggle,
.nav-previous,
.nav-next {
  display: none;
}

/* Comments */

.comment-content a {
  word-wrap: break-word;
}

.entry-header {
  position: relative;
  width: 100%;
}

.entry-title a {
  color: white;
}

//Social Btns

.facebook-button,
.twitter-button,
.pinterest-button {
  padding: 12px 20px;
  background-color: $color__background-body;
  border: 1px solid black;
  border-radius: 0;
  &:hover {
    background-color: $background-entry-color;
    color: white;
    box-shadow: none;
  }
}

.fa {
  font-size: 13px;
  text-transform: uppercase;
}

.button-text {
  font-family: $font__accent;
  font-size: 14px;
}

// ---------404 Error Page-----

.error404 {
  .page-title {
    text-transform: uppercase;
    font-family: $font__accent;
    font-size: 38px;
    letter-spacing: 2px;
  }
}

.error-404 {
  margin-left: 75px;
  margin-left: 0;
}

.error404 {
  fieldset {
    border: none;
  }
}

.error404 {
  .search-submit {
    display: none;
  }
}

.error404 {
  .widgettitle {
    font-family: $font__accent;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
    color: #2f1339;
  }
}

.error404 {
  .widget_recent_entries {
    ul {
      padding: 0;
      margin: 0;
      font-weight: 300;
    }
  }
}

.widget_categories {
  ul {
    padding: 0;
    margin: 0;
    font-weight: 300;
  }
}

.widget_archive {
  p {
    text-align: left;
    margin: 0;
    width: 500px;
  }
}
