// ------------Journal-----------
.blog{

    h2 {
      &:hover > a {
        color: #f0e4d1;
      }

}

.entry-header img{
  width:100%;
}

  .entry-title:hover {
    color: #f0e4d1;
  }

  .entry-content {
    width: 770px;
  }

.entry-content p {
  color: #404040;
  font-family: $font__main;
  font-size: 16px;
}


    .entry-title {
      text-transform: uppercase;
      font-family: $font__accent;
    }



#author,
#email {
  width: 372px;
}

.tags-links {
  margin-left: 30px;
}

.comments-link {
  a {
    color: white;
  }
}

.tags-links,
.cat-links {
  a:hover {
    color: $color__hover;
  }
}

.comment-form-url {
  width: 760px;
}

.post-type-archive {
  .page-title {
    padding-top: 30px;
  }
}

  article {
    margin-top: 6rem;
  }

  .primary-secondary-container {
    .entry-content {
      width: 770px;
    }
  }

.date.archive {
  .page-title {
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
    width: 90%;
  }
}

.date.archive {
  footer {
    margin-top: 70px;
  }
}

.date.archive {
  #secondary {
    margin-left: 30px;
  }
}

}