// ------------Journal-----------
.blog {
  h2 {
    &:hover > a {
      color: #f0e4d1;
    }
  }

  .journal-btn,
  .entry-title a {
    color: $color__main-orange;
  }

  .entry-header img {
    width: 100%;
    @include mobile {
      height: auto;
    }
  }

  .entry-title:hover {
    color: #f0e4d1;
  }

  .entry-content p {
    color: #404040;
    font-family: $font__main;
    font-size: 16px;
  }

  .entry-title {
    text-transform: uppercase;
    font-family: $font__accent;
    margin-top:30px;
  }

  #author,
  #email {
    width: 372px;
  }

  .tags-links {
    margin-left: 30px;
  }

  .comments-link {
    a {
      color: white;
      &:hover {
        color: $color__hover;
      }
    }
  }

  .page-title {
    padding-top: 30px;
  }

  article {
    margin-top: 6rem;
  }

  .date.archive {
    .page-title {
      text-align: left;
      border-bottom: 1px solid #e1e1e1;
      padding-bottom: 20px;
      width: 90%;
    }
  }

  .date.archive {
    footer {
      margin-top: 70px;
    }
  }

  .date.archive {
    #secondary {
      margin-left: 30px;
    }
  }

  .entry-meta {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
