// ------------Journal-----------

.blog {
  .entry-header {
    h2 {
      &:hover > a {
        color: #f0e4d1;
      }
    }
  }
}

.blog {
  .entry-title:hover {
    color: #f0e4d1;
  }
}

.blog,
.container-single,
.date {
  .entry-content {
    width: 770px;
  }
}

.entry-content p {
  color: #404040;
  font-family: $font__main;
  font-size: 16px;
}

.blog,
.single,
.archive.tag,
.archive.category,
.date {
  .entry-meta {
    position: absolute;
    width: 464px;
    margin-left: 297px;
    bottom: 6px;
    background-color: $background-entry-color;
    color: #fff;
    padding: 0.4rem;
    text-transform: uppercase;
    font-family: $font__accent;
  }
}

.blog,
.single-post {
  .entry-header {
    .entry-title {
      text-transform: uppercase;
      font-family: $font__accent;
    }
  }
}

.post-template-default.single.single-post.single-format-standard {
  .social-icons-container {
    transform: translate(0px, 0px);
  }
}

#author,
#email {
  width: 372px;
}

.tags-links {
  margin-left: 30px;
}

.comments-link {
  a {
    color: white;
  }
}

.tags-links,
.cat-links {
  a:hover {
    color: $color__hover;
  }
}

.comment-form-url {
  width: 760px;
}

.post-type-archive {
  .page-title {
    padding-top: 30px;
  }
}

.archive.tag {
  article {
    margin-top: 6rem;
  }
}

.archive.tag {
  .primary-secondary-container {
    .entry-content {
      width: 770px;
    }
  }
}

.date.archive {
  .page-title {
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
    width: 90%;
  }
}

.date.archive {
  footer {
    margin-top: 70px;
  }
}

.date.archive {
  #secondary {
    margin-left: 30px;
  }
}
