/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;
	text-decoration:none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: block;
	// float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

// ---------Header---------

.menu {      
	li a{
	font-family:$font__accent;
	text-transform:uppercase;
	color:$background-entry-color;
	font-size:16px;
	font-weight:400;
	}
}
.menu {
	li a:hover{
		color: #2f1339;

	}
}

.header-logo{
	background-image:url("../../images/logo-tent.svg");
	background-repeat:no-repeat;
	background-size:contain;
	height:50px;
	width:50px;
	z-index:999;
	margin-left: 20px;
    margin-top: 20px;
	

}

.home {
	.header-logo{
	background-image:url("../../images/logo-tent-white.svg");
	background-repeat:no-repeat;
	background-size:contain;
	height:50px;
	width:50px;
	z-index:999;

	
	}
}

.home{
	#primary-menu{
		li:hover{
			color:#f0e4d1;
		}
	}
}

.site-branding{
	width:100%;
	position:fixed;
	background-color: hsla(0,0%,100%,.85);
	z-index:5;
}
.nav-item{
	display:inline-block;
	text-decoration:none;
	vertical-align:middle;
}

.page_item{
    display:inline-flex;
    justify-content: space-between;

}

.page_item a{
	
	font-family:$font__main;
	text-transform:uppercase;
	
}

.fa-search{
	z-index:20;
	height:5px;
	color:$background-entry-color;

}

.nav-bar{
	float:right;
	list-style-type: none;
	align-items:center;
	margin-right:40px;
	margin-top:7px;
}

#primary-menu{
	display: flex;
    width: 390px;
    justify-content: space-around;
	margin-top:10px;
}


.main-navigation{
	width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
	position:fixed;
	background-color: hsla(0,0%,100%,.85);
	z-index:5;
	align-items:center;
	border-bottom: 1px solid #e1e1e1;
}

.site-navigation{
	width:100%;
	overflow-x:hidden;
}

.menu-container{
	display:flex;
}

.fa-search{
	margin-right:40px;
}

.home{
	.fa-search{
		color:white;
	}
}

.home{
	.site-content{
		padding-top:0;
	}
}

.header-logo{
	margin-left:50px;
}

.main-navigation a{
	display:inline-block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}


}

