// ------------------Shop--------------

.post-type-archive-products {
  h1 {
    text-align: center;
    font-family: $font__main;
    font-size: 60px;
  }
  .shop-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }

  .product-container {
    display: inline-block;
    border: 1px solid #e1e1e1;
    height: 305px;
    margin-bottom: 1.5rem;
    white-space: nowrap;
    padding: 0;
  }

  .shop-archive-image-container {
    background-color: $image__background-color;
    height: 250px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .shop-archive-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .shop-title {
    text-align: center;
  }

  .price-text {
    font-size: 16px;
    color: #404040;
    font-family: $font__main;
  }

  .product-title {
    font-size: 16px;
    color: #404040;
    font-family: $font__main;
    overflow: hidden;
  }

  .product-title:after {
    content: "..........";
    display: inline;
    overflow: hidden;
    z-index: -999;
  }

  .tax-product_type {
    .taxonomy-description {
      p {
        text-align: center;
        font-size: 19.2px;
        padding-bottom: 25px;
      }
    }
  }
}

// ----Text for taxonomy links----

.taxonomy-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 50px;
  a {
    padding: 0 1rem;
    font-family: $font__accent;
    text-transform: uppercase;
    font-size: 19px;
    color: #000;
    &:hover {
      color: #248a83;
    }
  }

  .adventure-hover:hover {
    color: $border__beige-color;
  }
}
.tax-product_type {
  
  h1{
    margin-top:100px;
    text-align:center;
  }
  .taxonomy-description{
    text-align: center;
  }
  .shop-items-container {
    display: flex;
  }
  .shop-items-container {
    padding-top: 3rem;
    border-top: 1px dashed #c8c8c8;
    min-height:460px;
  }

  .shop-archive-image img {
    width: 100%;
    height: 200px;
  }
}
