// -------Single Products-------

.single {

  .product-price{
    font-size:30px;
  }

    .entry-title {
      color: $color__main-orange;
      font-family: $font__accent;
      text-transform: uppercase;
      background-color: transparent;
      font-size: 38.4px;
    }

  .social-icons-container {
    margin-bottom: 100px;
  }
}
