// ---------Single Post Style--------

.entry-content h2{
	font-size:2.1rem;
	text-transform:uppercase;
}
// --------------------------
#inhab-button{
	font-family:$font__accent;
	color:black;
	border:1px solid black;
	padding:12px 24px;
	line-height:1;
	margin-left: 73px;
}

.type-post {
	.entry-header{
		margin-top:60px;
	}
}


.container-single{
	display:flex;
}

.container-single{
	#secondary{
	transform: translatex(-313px);
	padding-right: 75px;
	}
}

.cat-links, .tags-links{
	font-family:$font__accent;
	text-transform:uppercase;
	font-size:16px;
	margin-left:75px;
}

.cat-links, .tags-links{
	a{
		color:$background-entry-color;
	}
}

.facebook-button, .twitter-button{
	padding: 12px 30px;
	background-color:white;	
	border:1px solid black;
	border-radius:0;

}

.pinterest-button{
	padding:12px 35px;
	background-color:white;	
	border:1px solid black;
	border-radius:0;
}

.fa{
	font-size:13px;
	text-transform:uppercase;
	
}

.button-text{
	font-family:$font__accent;
	font-size:14px;
}

.social-icons-container{
	margin-left:75px;
}

.comment-reply-title{
	font-family:$font__accent;
	text-transform:uppercase;
	font-size:28px;
	margin-left:75px;
}

.comment-form label{
	font-size:17px;
	font-family:$font__accent;
	margin-bottom:1.5rem;
	text-transform:uppercase;
	margin-left:75px;
}

#comment{
	margin-left:75px;
}

.form-submit input{
	background-color:$background-entry-color;
	box-shadow:none;
	border-color:$background-entry-color;
	color:#fff;
	text-transform:uppercase;
	font-family:$font__accent;
	text-shadow:none;
	border-radius:0;
	padding:12px 24px;
	margin-left:75px;
	
}

