// ---------Single Post Style--------

.single-post{

.entry-content h2 {
  font-size: 2.1rem;
  text-transform: uppercase;
}
// --------------------------
#inhab-button {
  font-family: $font__accent;
  color: black;
  border: 1px solid black;
  padding: 12px 24px;
  line-height: 1;
  text-transform: uppercase;
  font-size: 14px;
  &:hover {
    background-color: $background-entry-color;
    color: white;
    border-color: $background-entry-color;
  }
}

.type-post {
  .entry-header {
    margin-top: 60px;
  }
}

.cat-links,
.tags-links {
  font-family: $font__accent;
  text-transform: uppercase;
  color: $background-entry-color;
  margin-right:10px;
  font-size: 16px;
    a{
      color:#000;
    }
}




// ------Comments-------

.comment-reply-title {
  font-family: $font__accent;
  text-transform: uppercase;
  font-size: 28px;
}

.comments-title {
  text-transform: uppercase;
  font-family: $font__accent;
}

.comment-body {
  display: flex;
}

.comment-author {
  font-family: $font__main;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}

.comment-content {
  margin-left: 24px;
}
.comment-form label {
  font-size: 17px;
  font-family: $font__accent;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.comment-reply-link {
  color: #248a83;
  &:hover {
    color: $background-entry-color;
  }
}

.comment-metadata {
  a {
    color: $background-entry-color;
  }
}
.comment-form-author,
.comment-form-url,
.comment-form-email {
  display: flex;
  flex-direction: column;
}

.comment-form {
  textarea {
    background-color: $form__color;
  }
}

  input {
    background-color: $form__color;
  }

.comment-form-comment {
  display: flex;
  flex-direction: column;
}
.form-submit input {
  background-color: $background-entry-color;
  box-shadow: none;
  border-color: $background-entry-color;
  color: #fff;
  text-transform: uppercase;
  font-family: $font__accent;
  text-shadow: none;
  border-radius: 0;
  padding: 12px 24px;
}

.comment-author-avatar {
  img {
    border-radius: 360px;
  }
}

}