// Structure

$base__space-unit: 1.5rem;

// Colors
$background-entry-color: #248a83;
$color__background-body: #fff;
$color__text-main: #404040;
$border__beige-color:#f0e4d1;
$border__accent-color:#c8c8c8;

$image__background-color:#e1e1e1;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;
$color__main-orange:#d99054;

$color__background-hr: #ccc;
$form__color:#f4f4f4;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;


$color__link: royalblue;
$color__link-visited: white;
$color__link-hover:#fff;

// Hover 

$color__hover:#2f1339;
$color__dark-green-hover:#1B6661;

// Typography

$font__main: "merriweather",serif;
$font__accent:"novecento",sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
